*{

    font-family:'Inter',sans-serif;

}

body{

margin:0;
padding:0;

height:100vh;

background:linear-gradient(
135deg,
#082C6C,
#0D4FA3,
#1877F2
);

display:flex;
justify-content:center;
align-items:center;

}

.form-group{
    margin-bottom:20px;
}

.login-card{

    width:400px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,0.25);

}

input{

width:100%;

padding:14px;

font-size:15px;

border-radius:10px;

border:1px solid #D6D6D6;

margin-top:8px;

box-sizing:border-box;

transition:0.3s;

}

button{

width:100%;

padding:15px;

background:#0B4EA2;

color:white;

border:none;

border-radius:10px;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#083A79;

transform:translateY(-2px);

box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.form-area{

    margin-top:30px;

}

input:focus{

outline:none;

border:1px solid #0B4EA2;

box-shadow:0 0 8px rgba(11,78,162,.3);

}

html{

scroll-behavior:smooth;

}

.login-card{

...

max-width:420px;

}

.logo{

width:90px;

display:block;

margin:auto;

margin-bottom:20px;

}

h1{

text-align:center;

color:#123E7C;

margin-bottom:10px;

}

p{

text-align:center;

color:#777;

margin-bottom:30px;

}


label{

display:block;

font-weight:600;

margin-bottom:5px;

}


